html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideInFromRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.animateUp {
    animation: slideUp 1s ease-in-out forwards;
}

.animateBottom {
    animation: slideInFromBottom 1s ease-in-out forwards;
}

.slideLeft {
    animation: slideInFromLeft 0.5s forwards; /* Slide out animation */
}

.slideRight {
    animation: slideInFromRight 0.5s forwards; /* Slide in animation */
}

@keyframes slideOutToLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.custom-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align children vertically */
    background-image: url('/src/images/backgrounds/cloudbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
}

.custom-background2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align children vertically */
    background-image: url('/src/images/backgrounds/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
}

.loadingBar {
    width: 40%;
}

.welcomeText {
    font-family: "Jaro", sans-serif;
    font-size: 4em;
    color: black;
}

.welcomeScreen, .mainMenu {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-fill-mode: forwards;
}

.mainMenu {
    position: absolute;
    top: 0;
    right: -100%; /* Start from off-screen to the right */
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainMenu.animateBottom {
    visibility: visible;
    animation: slideInFromBottom 1s ease-in-out forwards;
}

.platformContainer {
    position: absolute;
    bottom: -20px; /* Move down by 20 pixels */
    width: 100%; /* Stretches across the entire width of `mainMenu` */
    display: block;
}

.platform {
    width: 100%; /* Ensures the platform image stretches across the container */
    height: auto; /* Maintains aspect ratio */
}

.sprite {
    position: absolute;
    bottom: 85%; /* Adjust this percentage to position the sprite on top of the platform */
    transform: translateX(-50%); /* Centers the sprite horizontally */
    width: 10%; /* Scales the sprite size */
    height: auto; /* Maintains aspect ratio */
    transition: left 0.2s, transform 0.2s; /* Smoothens the sprite movement */
}

.gate {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 10%;
    height: auto;
}

.gate2 {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 10%;
    height: auto;
}

/* Parent container for centering */
.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    position: relative;
}

.myInformationScreen {
    width: 90%; /* Responsive width, you can adjust as necessary */
    max-width: 600px; /* Maximum width of the container */
    padding: 20px; /* Optional: Adds padding inside the container */
    box-sizing: border-box; /* Ensures padding doesn't affect width calculations */
    z-index: 1;
}

@media (max-width: 768px) {
    .myInformationScreen {
        width: 95%; /* Slightly wider on smaller screens */
        padding: 10px; /* Less padding on smaller devices */
    }
    .myName, .myTitle {
        font-size: smaller; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .myInformationScreen {
        width: 100%; /* Full width on very small screens */
        padding: 5px;
    }
    .myName, .myTitle {
        font-size: smallest; /* Even smaller font size */
    }
}


.myName, .myTitle, .myDescription {
    font-family: "Jaro", sans-serif;
    color: white;
    text-align: center;
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
  }

.careerDiv {
    position: absolute;
    top: 0;
    right: -100%; /* Start from off-screen to the right */
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forwardSign {
    position: absolute;
    bottom: 90%;
    right: 12%;
    width: 10%;
    height: auto;
}

.backWordSign {
    position: absolute;
    bottom: 90%;
    left: 12%;
    width: 10%;
    height: auto;
}

@media (max-width: 768px) {
    .study, .dhrubok, .tosFast, .techrz, .sysystem {
        width: 30%; /* Increase width for better visibility on smaller screens */
    }

    .study {
        left: 2%; /* Adjust positioning to fit small screens */
        bottom: 10vh;
    }

    .dhrubok {
        left: 35%;
        bottom: 15vh;
    }

    .tosFast, .techrz {
        left: 2%; /* Stack elements vertically if needed */
        bottom: 20vh;
    }

    .techrz {
        bottom: 30vh;
    }

    .sysystem {
        left: 35%;
        bottom: 25vh;
    }
}

@media (max-width: 480px) {
    .study, .dhrubok, .tosFast, .techrz, .sysystem {
        width: 40%; /* Further increase width for very small screens */
    }

    .study {
        left: 5%; /* Center more as screen narrows */
        bottom: 5vh;
    }

    .dhrubok, .tosFast, .techrz, .sysystem {
        left: 55%; /* Adjust all others to be more centered */
        bottom: 10vh; /* Stack with increasing spacing */
    }

    .dhrubok {
        bottom: 15vh;
    }

    .tosFast {
        bottom: 25vh;
    }

    .techrz {
        bottom: 35vh;
    }

    .sysystem {
        bottom: 45vh;
    }
}


.study {
    position: absolute;
    bottom: 250%;
    left: 5%;
    width: 15%;
    height: auto;
}

.dhrubok {
    position: absolute;
    bottom: 270%;
    left: 22%;
    width: 20%;
    height: auto;
}

.tosFast {
    position: absolute;
    bottom: 300%;
    left: 44%;
    width: 20%;
    height: auto;
}

.techrz {
    position: absolute;
    bottom: 220%;
    left: 44%;
    width: 20%;
    height: auto;
}

.sysystem {
    position: absolute;
    bottom: 215%;
    left: 66%;
    width: 20%;
    height: auto;
}

.skillsbar {
    position: absolute;
    top: 0;
    right: -100%; /* Start from off-screen to the right */
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsTitle {
    position: absolute;
    font-family: "Jaro", sans-serif;
    font-size: 3em;
    color: black;
    bottom: 350%;
    left: 46.5%;
    width: 30%;
    height: auto;
}

.java {
    position: absolute;
    bottom: 350%;
    left: 15%;
    width: 30%;
    height: auto;
}

.cSharp {
    position: absolute;
    bottom: 300%;
    left: 15%;
    width: 30%;
    height: auto;
}

.python {
    position: absolute;
    bottom: 250%;
    left: 15%;
    width: 30%;
    height: auto;
}

.javaScript {
    position: absolute;
    bottom: 200%;
    left: 15%;
    width: 30%;
    height: auto;
}

.unity {
    position: absolute;
    bottom: 350%;
    right: 15%;
    width: 30%;
    height: auto;
}

.unreal {
    position: absolute;
    bottom: 300%;
    right: 15%;
    width: 30%;
    height: auto;
}

.django {
    position: absolute;
    bottom: 250%;
    right: 15%;
    width: 30%;
    height: auto;
}

.react {
    position: absolute;
    bottom: 200%;
    right: 15%;
    width: 30%;
    height: auto;
}

.gameProjects {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billboard{
    position: absolute;
    bottom: 95%;
    left: 50%;
    width: 30%;
    height: auto;
}

.rotateNotice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
  }
  
  .rotateNoticeImage {
    max-width: 90%;
    max-height: 90%;
  }

@media (max-width: 1024px) {
    .certifications1 {
        bottom: 5vh;
        width: 40%;
    }
}

@media (max-width: 768px) {
    .certifications1 {
        position: relative;
        bottom: auto;
        top: 10vh;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }
}

@media (max-width: 480px) {
    .certifications1 {
        top: 5vh;
        width: 95%;
    }
}

.certificatins1 {
    position: absolute;
    bottom: 200%;
    left: 5%;
    width: 30%;
    height: auto;
    max-width: 360px;
}

.certificatins2 {
    position: absolute;
    bottom: 200%;
    left: 35%;
    width: 30%;
    height: auto;
}

.certificatins3 {
    position: absolute;
    bottom: 200%;
    left: 65%;
    width: 30%;
    height: auto;
}

.links {
    position: absolute;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-around; /* Distributes space around items */
    align-items: start; /* Aligns items to start of the flex line */
    bottom: 50vh;
    left: 10vh;
    right: 0;
    margin: 0 auto;
    width: 35%; /* Adjust the width as needed */
}

.link-item {
    width: 40%; /* Sets width to less than half to ensure two items per row */
    margin: 2.5%; /* Adds space around the items */
}

@media (max-width: 1024px) { /* For tablets */
    .links {
        position: absolute;
        left: 10%; /* Adjust left to slightly more center */
        width: 60%; /* Increase width for better touch targets */
        bottom: 40vh;
    }
}

@media (max-width: 768px) { /* For smaller tablets and large phones */
    .links {
        position: absolute; /* Switching from absolute to relative for better flow */
        bottom: 50vh;
        left: 60%; /* Center the links */
        transform: translateX(-50%); /* Ensure it's perfectly centered */
        width: 80%; /* Use more screen width */
    }
}

@media (max-width: 480px) { /* For mobile phones */
    .links {
        width: 95%; /* Nearly full width to utilize small screen space */
        margin-bottom: 5vh; /* Add some space below */
        bottom: 50vh;
    }
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .center-link {
    margin-top: 10px; /* Adjust the margin as needed */
  }