html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideInFromRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.animateUp {
    animation: slideUp 1s ease-in-out forwards;
}

.animateBottom {
    animation: slideInFromBottom 1s ease-in-out forwards;
}

.slideLeft {
    animation: slideInFromLeft 0.5s forwards; /* Slide out animation */
}

.slideRight {
    animation: slideInFromRight 0.5s forwards; /* Slide in animation */
}

@keyframes slideOutToLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.custom-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align children vertically */
    background-image: url('/src/images/backgrounds/cloudbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
}

.custom-background2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align children vertically */
    background-image: url('/src/images/backgrounds/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
}

.loadingBar {
    width: 40%;
}

.welcomeText {
    font-family: "Jaro", sans-serif;
    font-size: 4em;
    color: black;
}

.welcomeScreen, .mainMenu {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-fill-mode: forwards;
}

.mainMenu {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensures `mainMenu` takes full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Ensures that content is aligned at the bottom */
    visibility: hidden;
}

.mainMenu.animateBottom {
    visibility: visible;
    animation: slideInFromBottom 1s ease-in-out forwards;
}

.platformContainer {
    position: absolute;
    bottom: -20px; /* Move down by 20 pixels */
    width: 100%; /* Stretches across the entire width of `mainMenu` */
    display: block;
}

.platform {
    width: 100%; /* Ensures the platform image stretches across the container */
    height: auto; /* Maintains aspect ratio */
}

.sprite {
    position: absolute;
    bottom: 85%; /* Adjust this percentage to position the sprite on top of the platform */
    transform: translateX(-50%); /* Centers the sprite horizontally */
    width: 10%; /* Scales the sprite size */
    height: auto; /* Maintains aspect ratio */
    transition: left 0.2s, transform 0.2s; /* Smoothens the sprite movement */
}

.gate {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 10%;
    height: auto;
}

.gate2 {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 10%;
    height: auto;
}

.myInformationScreen {
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

.myName, .myTitle, .myDescription {
    font-family: "Jaro", sans-serif;
    color: white;
    text-align: center;
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
  }

.careerDiv {
    position: absolute;
    top: 0;
    right: -100%; /* Start from off-screen to the right */
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forwardSign {
    position: absolute;
    bottom: 90%;
    right: 12%;
    width: 10%;
    height: auto;
}

.backWordSign {
    position: absolute;
    bottom: 90%;
    left: 12%;
    width: 10%;
    height: auto;
}

.study {
    position: absolute;
    bottom: 250%;
    left: 5%;
    width: 15%;
    height: auto;
}

.dhrubok {
    position: absolute;
    bottom: 270%;
    left: 22%;
    width: 20%;
    height: auto;
}

.tosFast {
    position: absolute;
    bottom: 320%;
    left: 44%;
    width: 20%;
    height: auto;
}

.techrz {
    position: absolute;
    bottom: 220%;
    left: 44%;
    width: 20%;
    height: auto;
}

.sysystem {
    position: absolute;
    bottom: 215%;
    left: 66%;
    width: 20%;
    height: auto;
}

.skillsbar {
    position: absolute;
    top: 0;
    right: -100%; /* Start from off-screen to the right */
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsTitle {
    position: absolute;
    font-family: "Jaro", sans-serif;
    font-size: 3em;
    color: black;
    bottom: 350%;
    left: 46.5%;
    width: 30%;
    height: auto;
}

.java {
    position: absolute;
    bottom: 350%;
    left: 15%;
    width: 30%;
    height: auto;
}

.cSharp {
    position: absolute;
    bottom: 300%;
    left: 15%;
    width: 30%;
    height: auto;
}

.python {
    position: absolute;
    bottom: 250%;
    left: 15%;
    width: 30%;
    height: auto;
}

.javaScript {
    position: absolute;
    bottom: 200%;
    left: 15%;
    width: 30%;
    height: auto;
}

.unity {
    position: absolute;
    bottom: 350%;
    right: 15%;
    width: 30%;
    height: auto;
}

.unreal {
    position: absolute;
    bottom: 300%;
    right: 15%;
    width: 30%;
    height: auto;
}

.django {
    position: absolute;
    bottom: 250%;
    right: 15%;
    width: 30%;
    height: auto;
}

.react {
    position: absolute;
    bottom: 200%;
    right: 15%;
    width: 30%;
    height: auto;
}

.gameProjects {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billboard{
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 30%;
    height: auto;
}

.certificatins1 {
    position: absolute;
    bottom: 200%;
    left: 5%;
    width: 30%;
    height: auto;
}

.certificatins2 {
    position: absolute;
    bottom: 200%;
    left: 35%;
    width: 30%;
    height: auto;
}

.certificatins3 {
    position: absolute;
    bottom: 200%;
    left: 65%;
    width: 30%;
    height: auto;
}

.links {
    position: absolute;
    bottom: 200%;
    left: 35%;
    width: 30%;
    height: auto;
}
